flake8==3.9.2
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.1

# Deps do pytest
pytest==6.2.4
attrs==21.2.0
py==1.10.0
colorama==0.4.4
atomicwrites==1.4.0
packaging==20.9
pluggy==0.13.1
iniconfig==1.1.1
toml==0.10.2
pyparsing==2.4.7

#Converge
coverage==5.5
pytest-cov==2.12.1

#Pytest
pytest==6.2.4
pytest-cov==2.12.1
pytest-mock==3.6.1

-r requirements.txt
